<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShopQuanAo2.Properties.Settings.QLSHOPQUANAOConnectionString"
            connectionString="Data Source=DESKTOP-R95F3JA;Initial Catalog=QLSHOPQUANAO;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>