<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShopQuanAo2.Properties.Settings.QLSHOPQUANAOConnectionString"
            connectionString="Data Source=DESKTOP-R95F3JA;Initial Catalog=QLSHOPQUANAO;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="localhost_QLSHOPQUANAO_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=taquangtrung;initial catalog=QLSHOPQUANAO;Persist Security Info=true" />
        <add name="localhost_QLSHOPQUANAO_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=taquangtrung;initial catalog=QLSHOPQUANAO;Persist Security Info=true" />
        <add name="localhost_QLSHOPQUANAO_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=taquangtrung;initial catalog=QLSHOPQUANAO;Persist Security Info=true" />
        <add name="localhost_QLSHOPQUANAO_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=;password=;initial catalog=QLSHOPQUANAO;Persist Security Info=true" />
        <add name="localhost_QLSHOPQUANAO_Connection 4" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=taquangtrung;initial catalog=QLSHOPQUANAO;Persist Security Info=true" />
        <add name="localhost_QLSHOPQUANAO_Connection 5" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=taquangtrung;initial catalog=QLSHOPQUANAO;Persist Security Info=true" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
